{% extends 'layout.html'%}

{% block body%}
<div class="wrapper" style="display: flex; width: 100%;">
    <nav class="sidebar ml-2 shadow" style="background-color: rgb(0, 90, 155); width: 17%;">
        <form method="post">
           {{ form.hidden_tag() }}
            <div class="container-fluid shadow">
                <h6 class="text-white mt-5">University:</h6>
                {{ form.university(class_="text-white") }}
            </div>
            <div class="container-fluid shadow">
                <h6 class="text-white">Room Type:</h6>
                {{ form.room(class_="text-white") }}
            </div>
            <div class="container-fluid shadow">
                <h6 class="text-white">Washroom:</h6>
                {{ form.washroom(class_="text-white") }}
            </div>
            <div class="container-fluid shadow">
                <h6 class="text-white">Maximum Size(sq. ft):</h6>
                <input type="range" class="slider" min="110" max="240" name="size" id="size" data-show-value="true"/>
                <p class="text-white"><strong>Size:</strong> <span id="size_value"></span> </p>
                <script>
                    var slider = document.getElementById("size");
                    var output = document.getElementById("size_value");
                    output.innerHTML = slider.value;

                    slider.oninput = function() {
                      output.innerHTML = this.value;
                    }
                </script>
            </div>
            <div class="container-fluid shadow">
                <h6 class="text-white">Maximum Price:</h6>
                <input type="range" class="slider" min="300" max="700" name="price" id="price" data-show-value="true"/>
                <p class="text-white"><strong>Price:</strong> <span id="value"></span> </p>
                <script>
                    var slider2 = document.getElementById("price");
                    var output2 = document.getElementById("value");
                    output2.innerHTML = slider2.value;

                    slider2.oninput = function() {
                      output2.innerHTML = this.value;
                    }
                </script>
            </div>
            <div class="container-fluid shadow">
                <h6 class="text-white">Other Options:</h6>
                {{ form.parking(class_="text-white") }}
                {{ form.parking.label(class_="text-white") }}
            </div>
            <br>
            <div class="container-fluid">
                <input type="submit" class="mb-5">
            </div>
        </form>
    </nav>

    <div id="content" style="width: 73%">
        <h3 class="ml-4 mt-4">Search Results:</h3>
        <br>
            {% for record in results %}
                <table class="ml-5" style="width: 100%; display: table;">
                    <tr style="width: 100%; display: table-row;">
                        <td class="pl-3 pt-3" style="width: 20%; display: table-cell;" colspan="3">
                            <h4 style="font-family: Helvetica;">{{ record[6] }}</h4>
                        </td>
                    </tr>
                    <tr class="shadow" style="width: 100%; display: table-row;">
                        <td class="pl-3 pt-3" style="width: 20%; display: table-cell;">
                            <p><strong>Listing ID:</strong> {{ record[0] }}</p>

                            {% if record[1]=="F-SW" or record[1]=="F-SHW" %}
                                <p><strong>Furnishing:</strong> Furnished</p>
                            {% elif record[1]=="UF-SW" or record[1]=="UF-SHW" %}
                                <p><strong>Furnishing:</strong> Unfurnished</p>
                            {% endif %}

                        </td>
                        <td style="width: 20%; display: table-cell;">
                            <p><strong>Size(sq. ft):</strong> {{ record[2] }}</p>
                            <p><strong>Washroom:</strong> {{ record[3] }}</p>
                        </td>
                        <td style="width: 60%; display: table-cell;">
                            <p><strong>Price:</strong> ${{ record[5] }}/month</p>
                        </td>
                    </tr>
                </table>
                <br>
            {% endfor %}
    </div>
</div>

{% endblock %}